{% extends "layout.html" %}

{% block page_title %}
  Dimension time period
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="{{ '/summary' if data['dimension-' + data['dimension'] + '-time-period'] else '/dimension-title?dimension=' + data['dimension'] }}">Back</a>

      <form class="form" action="{{ '/summary' if data['dimension-' + data['dimension'] + '-time-period'] else '/dimension-summary?dimension=' + data['dimension'] }}" method="post">

      <div style="margin-top: 30px;">
        <span class="heading-small">{{ data['dimension-' + data['dimension'] + '-title'] }}</span>
      </div>

        <div class="form-group">
          <label class="form-label" for="time-period">
            <h1 class="heading-large" style="margin-top: 10px;">Time period</h1>
            <span class="form-hint">
              The time period the data covers, eg ‘2015/16’ or ‘2009/10 to 2015/16’
            </span>
          </label>
          <input class="form-control" id="time-period" type="text" name="dimension-{{ data['dimension'] }}-time-period" value="{{ data['dimension-' + data['dimension'] + '-time-period'] }}">

          <details style="margin-top: 20px;">
            <summary>Further guidance</summary>

            <p>For financial or academic year date ranges use the format ‘2015/16’. Use the ‘What the data measures’ section to specify whether the measure spans an academic or financial year.</p>

            <p>For combined years of data use the format ‘2013/14, 2014/15 and 2015/16 (combined)’.</p>

            <p>For a time period starting and ending with non-calendar years, format as ‘2009/10 to 2015/16’.</p>

            <p>Preserve the formatting used for external publications: for example, ‘The English Housing Survey 2013-14’.</p>
          </details>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
