{% extends "layout.html" %}

{% block page_title %}
  The ethnic categories used in this data
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="{{ '/summary' if data['ethnic-categories'] else '/what-the-data-measures' }}">Back</a>

      <form class="form" action="{{ '/summary' if data['ethnic-categories'] else '/dimension-title?dimension=1' }}" method="post">

        <div class="form-group">
          <label class="form-label" for="ethnic-categories">
            <h1 class="heading-large">The ethnic categories used in this data</h1>
            <span class="form-hint">
              Use this section to explain, in plain English, the ethnic categorisation in this measure page and why it is used. <br><br>See the <a href="https://guide.ethnicity-facts-figures.service.gov.uk/a-z#ethnic-categories">style guide</a> for explanations of the most common ethnic categorisations.<br><br>Suggested maximum word count: 100
            </span>
          </label>

          <textarea class="form-control form-control-3-4" rows="10" id="ethnic-categories" name="ethnic-categories">{{ data['ethnic-categories'] }}</textarea>


        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
