{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="{{ '/summary' if data['lowest-level-of-geography'] else '/area-covered' }}">Back</a>

      <form class="form" action="{{ '/summary' if data['lowest-level-of-geography'] else '/main-points' }}" method="post">

          <fieldset style="margin-bottom: 20px;">
            <legend>
              <h1 class="heading-large">Lowest level of geography</h3>
            </span>

            </legend>

            {% set values =
              [
                ['United Kingdom', ''],
                ['Country', '(for example, England, Wales, England and Wales, Scotland)'],
                ['Region', '(for example, South West, London, North West, Wales)'],
                ['Local authority upper tier', '(for example, county council, unitary authority, Greater London Authority) – applies to England only'],
                ['Local authority lower tier', '(for example, district council, unitary authority, London borough) – applies to England, Scotland, Wales and Northern Ireland'],
                ['Police force area', ''],
                ['Clinical commissioning group','']
              ]
              %}

            {% for value, help_text in values %}

            <div class="multiple-choice">
              <input id="lowest-level-of-geography-{{ loop.index }}" name="lowest-level-of-geography" type="radio" value="{{ value }}" {{ 'checked' if data['lowest-level-of-geography'] == value }}>
              <label for="lowest-level-of-geography-{{ loop.index }}">{{ value }} {{ help_text if help_text }}</label>
            </div>

            {% endfor %}

          </fieldset>


        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
