{% extends "layout.html" %}

{% block page_title %}
  Quality Methodology Information link
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/summary">Back</a>

      <form class="form" action="/further-technical-information" method="post">

        <div class="form-group">
          <label class="form-label" for="title">
            <h1 class="heading-large">Quality Methodology Information link</h1>
            <span class="form-hint">
              Provide a link to the data’s quality methodology report.
            </span>
          </label>
          <input class="form-control" id="quality-methodology-information-link" type="text" name="quality-methodology-information-link" style="width: 100%;" value="{{ data['quality-methodology-information-link'] }}">

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
