{% extends "layout.html" %}

{% block page_title %}
  Source publisher
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="{{ data['from'] if data['from'] else '/source-title?source=' + data['source'] }}">Back</a>

      <form class="form" action="{{ data['from'] if data['from'] else '/source-url?source=' + data['source'] }}" method="post">

        <div class="form-group">
          <label class="form-label" for="source-title">
            <h1 class="heading-large">Source Publisher</h1>
            <span class="form-hint">
              The department or agency responsible for analysing and/or publishing the data (for example, Department for Education).
            </span>
          </label>

          <input class="form-control" id="source-title" type="text" name="source-{{ data['source'] }}-publisher" style="width: 100%;" value="{{ data['source-' + data['source'] + '-publisher'] }}">

          <input type="hidden" name="source" value="{{ data['source'] }}" />

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
