{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>


      <p>
        <a class="button button-start" href="/title" role="button">Add a measure</a>
      </p>


    </div>

  </div>

</main>

{% endblock %}
