{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="/" class="link-back">Back</a>

      <h1 class="heading-large">
        Create a measure
      </h1>


      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Basic metadata
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Title
          </dt>
          <dd class="cya-answer">
            {{ data['title'] }}
          </dd>
          <dd class="cya-change">
            <a href="/title">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Time period
          </dt>
          <dd class="cya-answer">
            {{ data['time-period'] }}
          </dd>
          <dd class="cya-change">
            <a href="/time-period">
              Change<span class="visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Area covered
          </dt>
          <dd class="cya-answer">
            {{ data['area-covered'].join(', ') if data['area-covered'] }}
          </dd>
          <dd class="cya-change">
            <a href="/area-covered">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Lowest level of geography
          </dt>
          <dd class="cya-answer">
            {{ data['lowest-level-of-geography'] }}
          </dd>
          <dd class="cya-change">
            <a href="/lowest-level-of-geography">
              Change<span class="visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="heading-medium">
        Commentary
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Main points
          </dt>
          <dd class="cya-answer">
            {{ data['main-points'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/main-points">
              Change<span class="visually-hidden"> main points</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Things you need to know
          </dt>
          <dd class="cya-answer">
            {{ data['things-you-need-to-know'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/things-you-need-to-know">
              Change<span class="visually-hidden"> things you need to know</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            What the data measures
          </dt>
          <dd class="cya-answer">
            {{ data['what-the-data-measures'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/what-the-data-measures">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            The ethnic categories used in this data
          </dt>
          <dd class="cya-answer">
            {{ data['ethnic-categories'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/ethnic-categories">
              Change<span class="visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl>


      {% set numberOfDimension = 1 %}

      {% for i in range(1,20) %}
        {% if data['dimension-' + i + '-title'] %}
          {% set numberOfDimension = i %}
        {% endif %}
      {% endfor %}

      {% for i in range(1, numberOfDimension+1) -%}

        <h2 class="heading-medium">
          {{ data['dimension-' + i + '-title'] if data['dimension-' + i + '-title'] else "Untitled dimension"  }}
        </h2>

        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt class="cya-question">
              Title
            </dt>
            <dd class="cya-answer">
              {{ data['dimension-' + i + '-title'] }}
            </dd>
            <dd class="cya-change">
              <a href="/dimension-title?dimension={{ i }}">
                Change<span class="visually-hidden"> dimension title</span>
              </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Time period
            </dt>
            <dd class="cya-answer">
              {{ data['dimension-' + i + '-time-period'] }}
            </dd>
            <dd class="cya-change">
              <a href="/dimension-time-period?dimension={{ i }}">
                Change<span class="visually-hidden"> dimension time period</span>
              </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Summary
            </dt>
            <dd class="cya-answer">
              {{ data['dimension-' + i + '-summary'] }}
            </dd>
            <dd class="cya-change">
              <a href="/dimension-summary?dimension={{ i }}">
                Change<span class="visually-hidden"> dimension time period</span>
              </a>
            </dd>
          </div>
        </dl>
      {% endfor %}

      <div style="padding-top: 20px;">
        <a href="/dimension-title?dimension={{ numberOfDimension + 1 }}">Add dimension</a>
      </div>


      {% set numberOfSources = 1 %}

      {% for i in range(1,20) %}
        {% if data['source-' + i + '-title'] %}
          {% set numberOfSources = i %}
        {% endif %}
      {% endfor %}

      {% for i in range(1, numberOfSources+1) -%}

        <h2 class="heading-medium">
          {{ "Primary" if i == 1 else "Secondary" }} source details
        </h2>

        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt class="cya-question">
              Title
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-title'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-title?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source title</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Publisher
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-publisher'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-publisher?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source publisher</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              URL
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-url'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-url?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source URL</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Publication date
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-publication-date'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-publication-date?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source publication date</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Last update date
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-last-update-date'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-last-update-date?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source last update date</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Next update date
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-next-update-date'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-next-update-date?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source next update date</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Frequency of publication
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-frequency-of-publication'] if data['source-' + i + '-frequency-of-publication'] != 'Other' else data['source-' + i + '-frequency-of-publication-other'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-frequency-of-publication?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source frequency of publication</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Type of statistics
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-type-of-statistics'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-type-of-statistics?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source type of statistics</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Suppression rules
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-suppression-rules'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-suppression-rules?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source suppression rules</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Disclosure control
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-disclosure-control'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-disclosure-control?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source disclosure control</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Contact details
            </dt>
            <dd class="cya-answer">
              {{ data['source-' + i + '-contact-details-name'] }}
              {{ "<br>" | safe if data['source-' + i + 'contact-details-email'] }}
              {{ data['source-' + i + '-contact-details-email'] }}
              {{ "<br>" | safe if data['source-' + i + '-contact-details-phone-number']  }}
              {{ data['source-' + i + '-contact-details-phone-number'] }}
            </dd>
            <dd class="cya-change">
              <a href="/source-contact-details?source={{ i }}&from=/summary">
                Change<span class="visually-hidden"> primary source contact details</span>
              </a>
            </dd>
          </div>

        </dl>
      {% endfor %}

      <div style="padding-top: 20px;">
        <a href="/source-title?source={{ numberOfSources + 1 }}&from=/summary">Add secondary source</a>
      </div>

      <h2 class="heading-medium">
        Methodology and type of data
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Type of data
          </dt>
          <dd class="cya-answer">
            {{ data['type-of-data'] }}
          </dd>
          <dd class="cya-change">
            <a href="/type-of-data">
              Change<span class="visually-hidden"> type of data</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Purpose of data source
          </dt>
          <dd class="cya-answer">
            {{ data['purpose-of-data-source'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/purpose-of-data-source">
              Change<span class="visually-hidden"> purpose of data source</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Methodology
          </dt>
          <dd class="cya-answer">
            {{ data['methodology'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/methodology">
              Change<span class="visually-hidden"> methodology</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Rounding
          </dt>
          <dd class="cya-answer">
            {{ data['rounding'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/rounding">
              Change<span class="visually-hidden"> rounding</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Related publications
          </dt>
          <dd class="cya-answer">
            {{ data['related-publications'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/related-publications">
              Change<span class="visually-hidden"> related publications</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Quality Methodology Information link
          </dt>
          <dd class="cya-answer">
            {{ data['quality-methodology-information-link'] }}
          </dd>
          <dd class="cya-change">
            <a href="/quality-methodology-information-link">
              Change<span class="visually-hidden"> Quality Methodology Information link</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Further technical information
          </dt>
          <dd class="cya-answer">
            {{ data['further-technical-information'] | replace('\n', '<br>') | safe }}
          </dd>
          <dd class="cya-change">
            <a href="/further-technical-information">
              Change<span class="visually-hidden"> further technical information</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="heading-medium">Send to review</h2>

      <p class="text">
        Some text goes here.
      </p>

      <div class="form-group">
        <a href="confirmation-page" class="button">Send to review</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
